.navbar {
    // background: #f1f2f459!important;
    background-color: transparent!important;
    border-top: 1px solid #e8e9ed!important;
    padding: 25px 30px;
    .nav-link {
        color: rgb(221, 212, 212);
        padding-right: 2.5rem;
        padding-left: 2.5rem;
        font-weight: 500;
        font-size: 18px;
    }
    .nav-link:hover {
        border-radius: 30px;
        background-color: #5173b882;
    }
    .navbar-toggler {
        border-color: transparent;
        .menu {
            color: white;
            border-radius: 30px;
            background-color: #5173b882;
            padding: 5px 20px !important;
            text-transform: uppercase;
            font-size: 16px;
        }
        &:focus {
            outline: none;
        }
    }

    .mat-form-field-appearance-legacy .mat-form-field-appearance-legacy {
        border: 1px solid #f3f1f185 !important;
    }
   
}
.fixed-top {
    z-index: 10!important;
}

::ng-deep.cdk-overlay-pane {
    transform: translateX(-17px) translateY(35px)!important;
}

::ng-deep .mat-form-field-flex {
    padding: 0 .75em 0 .75em!important;
    border-radius: 4px!important;
}


.header {
    background-color: #040a14;
    .headerImg {
        height: 100vh;
        background-position: center!important;
        background-repeat: no-repeat!important;
        background: #040a14;
        background: -webkit-linear-gradient(#040a14c2, rgba(48, 45, 46, 0.507)), url("https://bit.ly/2rlzaXi");
        background: linear-gradient(#040a14c2, rgba(48, 45, 46, 0.507)), url('../assets//img/cover.jpg'); /* The least supported option. */
    }
    .headerImgMobile {
        background: -webkit-linear-gradient(#040a14c2, rgba(48, 45, 46, 0.507)), url("https://bit.ly/2rlzaXi");
        background: linear-gradient(#040a14c2, rgba(48, 45, 46, 0.507)), url('../assets//img/coverMobile.jpg'); /* The least supported option. */
    }
    .headerTitle {
        font-family: 'ProzaSemi';
        color: white;
        text-transform: uppercase;
        font-size: 45px;
        line-height: 48px;
    }
    .content {
        top: 33%;
        left: 10vw;
    }
    .contentMobile {
        left: 0;
        width: 100%;
        top: 25%;
        text-align: center;
        .headerTitle {
            font-size: 30px;
            line-height: 30px;
        }
    }
    .subtitle {
        color: white;
        h1 {
            font-family: 'ProzaSemi';
        }
    }
    .subtitleMobile {
        margin-top: 170px!important;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            margin-bottom: 25px;
        }
    }
}

.stocks {
    background-color: #040a14;
}
// language 
.flag {
    width: 25px;
    //height: 20px;
    //border: 1px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 5px;
    //opacity: 0.5;
  }
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
  ::ng-deep .mat-select-arrow {
    border: none!important;
  }
  ::ng-deep .mat-form-field-infix {
      width: 125px!important;
  }
// sidenav drawer
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  mat-drawer {
    width: 80%;
    .nav-link {
        color: #202124;
        padding-right: 2.5rem;
        padding-left: 2.5rem;
        font-weight: 500;
        font-size: 18px;
        padding: 1.2rem 1rem;
    }
    .close {
        mat-icon {
            font-size: 30px!important;
        }
    }
  }
  mat-drawer-content {
      min-height: 100vh;
  }
// end sidenav drawer



.icon-btn button{
    float:left;
    margin:10px;
}
.radius-style button{
    border-radius:30px;
}
.btn-twitter{
    font-size:20px;
    padding:0px 20px;
    color: #fff;
    background-color: #4a7fe8;
    border:none;
    justify-content: center;
    align-items: center;
    display: flex;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}
.btn-text{
    width:60%;
}
.btn-gradient {    
    height: 40px;
    width:40%;
    position: relative;
    display: inline-block;
    left:-20px;
    background: rgba(0, 0, 0, 0.15);
    border-top-right-radius: 60px;
    padding: 8px 24px 8px 16px;
    box-shadow: 2px 0px 0px 0px rgba(78, 72, 72, 0.4);
}

.btn-gradient i{
    font-size:30px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.radius-btn{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
@media screen and (max-width: 425px) {
    
}

// dialogu
::ng-deep.cdk-overlay-pane {
    transform: translateX(0px) translateY(35px) !important;
}
