
<div *ngIf="!isMobile"> 
  <nav class="navbar navbar-expand-md fixed-top justify-content-between navbar-light bg-light">
    <a class="navbar-brand" style="color: white;" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="goToInsideLink('tesla')">Tesla</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" style="cursor: pointer;" (click)="goToInsideLink('gold')">Gold</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="goToInsideLink('amazon')">Amazon</a>
        </li>
      </ul>
    </div>
    <!-- <div class="language">
      <mat-form-field class="mat-select-hide-underline">
        <mat-select  style="border: 1px solid rgba(255, 255, 255, 0.63); border-radius: 4px; padding: 5px;"  [value]="language.value" (valueChange)="selectLanguage($event)">
          <mat-select-trigger>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <img [src]="language.img" class="flag"/>
              <span style="color: white">{{ language.label }}</span>
            </div>
          </mat-select-trigger>
          <mat-option *ngFor="let opt of languages" [value]="opt.value">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <img [src]="opt.img" class="flag" /> 
              <span>{{ opt.label }}</span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
  </nav>
  <div class="header w-100">
    <div class="container-fluid m-0 p-0 ">
      <div class="headerImg w-100 position-relative">
        <div class="content position-absolute">
          <h1 class="headerTitle">Be your own boss</h1>
          <h1 class="headerTitle">No Cost...</h1>
          <h1 class="headerTitle">just benefits</h1>
          <div class="subtitle mt-5">
            <h1>Start earning now!</h1>
            <div class="icon-btn radius-style">
              <button (click)="openDialog()" class="btn-twitter m-0">
                <span class="btn-gradient radius-btn">
                  <mat-icon>person_add_alt</mat-icon>
                  <i class="fa fa-user-plus"></i>        
                </span>
                <span class="btn-text">{{'register' | translate}}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="stocks w-100">
    <div id="tesla" class="container-fluid m-0 p-0">
      <app-tesla (open)="open()"></app-tesla>
     </div> 
     <!-- <div id="gold" class="container-fluid m-0 p-0">
      <app-gold></app-gold>
     </div> -->
     <div id="amazon" class="container-fluid m-0 p-0">
      <app-amazon (open)="open()"></app-amazon>
     </div>
  </div>
</div>
<mat-drawer-container *ngIf="isMobile" class="example-container" hasBackdrop="true">
  <mat-drawer #drawer mode="over" position="end">
    <div class="d-flex flex-column">
      <div class="close w-100 p-3">
        <mat-icon class="float-right" (click)="drawer.close()">highlight_off</mat-icon>
      </div>
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <a class="nav-link" (click)="goToInsideLink('tesla', drawer)">Tesla</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" (click)="goToInsideLink('gold', drawer)">Gold</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToInsideLink('amazon', drawer)">Amazon</a>
        </li>
      </ul>
    </div>
    <div class="form-inline justify-content-center pt-5 my-2 my-lg-0">
      <div class="icon-btn radius-style">
        <button (click)="openDialog()" class="btn-twitter">
          <span class="btn-gradient radius-btn">
            <mat-icon>person_add_alt</mat-icon>
            <i class="fa fa-user-plus"></i>        
          </span>
          <span class="btn-text">{{'register' | translate}}</span>
        </button>
      </div>
    </div>
    <!-- <div class="language" style="text-align: center; margin-top: 50px;">
      <mat-form-field class="mat-select-hide-underline">
        <mat-select style="border-radius: 4px; border: 1px solid #68676759 !important; padding: 5px;" [value]="language.value" (valueChange)="selectLanguage($event)">
          <mat-select-trigger>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="padding: 0 16px">
              <img [src]="language.img" class="flag"/>
              <span>{{ language.label }}</span>
            </div>
          </mat-select-trigger>
          <mat-option *ngFor="let opt of languages" [value]="opt.value">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <img [src]="opt.img" class="flag" /> 
              <span>{{ opt.label }}</span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
  </mat-drawer>
    <mat-drawer-content>
      <nav class="navbar navbar-expand-md fixed-top justify-content-between navbar-light bg-light">
        <a class="navbar-brand" style="color: white;" href="#">Logo</a>
        <button class="navbar-toggler" type="button" (click)="drawer.toggle()">
          <span class="menu">menu</span>
        </button>
      </nav>
      <div class="header h-100">
        <div class="container-fluid m-0 p-0 ">
          <div class="headerImgMobile headerImg position-relative">
            <div class="contentMobile content position-absolute">
              <h1 class="headerTitle">Be your own boss</h1>
              <h1 class="headerTitle">No Cost...</h1>
              <h1 class="headerTitle">just benefits</h1>
              <div class="subtitle subtitleMobile mt-5">
                <h1>Start earning now!</h1>
                <div class="icon-btn radius-style">
                  <button (click)="openDialog()" class="btn-twitter m-0">
                    <span class="btn-gradient radius-btn">
                      <mat-icon>person_add_alt</mat-icon>
                      <i class="fa fa-user-plus"></i>        
                    </span>
                    <span class="btn-text">{{'register' | translate}}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="stocks">
        <div id="tesla" #tesla class="container-fluid m-0 p-0">
          <app-tesla (open)="open()"></app-tesla>
         </div> 
         <!-- <div id="gold" #gold class="container-fluid m-0 p-0">
          <app-gold></app-gold>
         </div>  -->
         <div id="amazon" class="container-fluid m-0 p-0">
          <app-amazon (open)="open()"></app-amazon>
         </div>
      </div>
  </mat-drawer-content>
</mat-drawer-container>
