<mat-icon mat-dialog-close style="font-size: 28px;" class="float-right">highlight_off</mat-icon>
<h1 mat-dialog-title>Register now!</h1>
<h3 mat-dialog-subtitle>A broker will contact you shortly</h3>
<div mat-dialog-content>
        <form [formGroup]="userForm" (ngSubmit)="createUser()">
            <mat-label>Name</mat-label>
            <mat-form-field appearance="fill" class="w-100">
                <input matInput formControlName="emer">
                <div class="pt-2">
                    <mat-error *ngIf="userForm.controls['emer'].touched && userForm.controls['emer'].hasError('required')">
                        Name is required!
                    </mat-error>
                </div>
            </mat-form-field>
            <mat-label>Surname</mat-label>
            <mat-form-field appearance="fill" class="w-100">
                <input matInput formControlName="mbiemer">
                <div class="pt-2">
                    <mat-error *ngIf="userForm.controls['mbiemer'].touched && userForm.controls['mbiemer'].hasError('required')">
                        Surname is required!
                    </mat-error>
                </div>
            </mat-form-field>
            <mat-label>Email</mat-label>
            <mat-form-field appearance="fill" class="w-100">
                <input matInput formControlName="email">
                <div class="pt-2">
                    <mat-error *ngIf="userForm.controls['email'].touched && userForm.controls['email'].hasError('email')">
                        Email is not correct!
                    </mat-error>
                </div>
            </mat-form-field>
            <mat-label>Phone Number</mat-label>
            <mat-form-field appearance="fill" class="w-100">
                <input 
                    type="tel"
                    style="width: 180px;"
                    matInput
                    ng2TelInput
                    formControlName="telefon"
                    [ng2TelInputOptions]="{initialCountry: 'us'}"
                    (hasError)="hasError($event)"
                    (ng2TelOutput)="getNumber($event)"/>
                <div *ngIf="userForm.controls['telefon'].touched && !userForm.controls['telefon'].hasError('required')" class="pt-2">
                    <mat-error *ngIf="telHasError">
                        Phone number is not correct!
                    </mat-error>
                </div>
                <div *ngIf="userForm.controls['telefon'].touched && userForm.controls['telefon'].hasError('required')" class="pt-2">
                    <mat-error>
                        Phone number is required!
                    </mat-error>
                </div>
            </mat-form-field>
            <button mat-raised-button [disabled]="!userForm.valid || telHasError" color="primary" style="float: right;" type="submit">{{'register' | translate}}</button>
      </form>
</div>
