* {
    color: white;
}
.chartDiv {
    padding-top: 60px!important;
    .header {
        padding-bottom: 30px;
        text-align: center;
        font-family: 'ProzaSemi';
        font-size: 26px;
    }
}
.calculate {
    h1, h2, h3, h4 {
        line-height: 35px;
    }
    h1 {
        font-size: 20px;
    }
}
.input {
    text-align: center;
    .potentialWin {
        width: 100px;
        input {
            background-color: #ffffff57!important;
            color: black!important;
            height: 30px;
            text-align: center;
            font-weight: bold;
            border-radius: 5px;
        }
    }
}

.icon-btn button{
    float:left;
    margin:10px;
}
.radius-style button{
    border-radius:30px;
}
.btn-twitter{
    font-size:20px;
    padding:0px 20px;
    color: #fff;
    background-color: #4a7fe8;
    border:none;
    justify-content: center;
    align-items: center;
    display: flex;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}
.btn-text{
    width:60%;
    padding: 5px 0px;
}
.btn-gradient {    
    height: 50px;
    width:40%;
    position: relative;
    display: inline-block;
    left:-20px;
    background: rgba(0, 0, 0, 0.15);
    border-top-right-radius: 60px;
    padding: 13px 24px 13px 16px;
    box-shadow: 2px 0px 0px 0px rgba(78, 72, 72, 0.4);
}

.btn-gradient i{
    font-size:30px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.radius-btn{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

::ng-deep input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

::ng-deep.ngx-charts text { fill: #fff!important; }

@media screen and (max-width: 425px) {
    // .chartDiv {
    //     .header {
    //         padding-bottom: 15px;
    //     }
    // }
}