<div class="container chartDiv align-items-center">
    <h1 class="header m-0">
        Amazon, Inc. stock price last month
    </h1>
  <div style="height: 40vh;" *ngIf="!isMobile" class="row">
    <ngx-charts-line-chart
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [showGridLines]="false"
    [timeline]="timeline"
    [results]="multi"
    [yScaleMin]="650"
    [yScaleMax]="730"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-line-chart>
  </div>
  <div style="height: 30vh;" *ngIf="isMobile" class="row">
    <ngx-charts-line-chart *ngIf="isMobile"
    [scheme]="colorScheme"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [showGridLines]="false"
    [timeline]="timeline"
    [results]="multi"
    [yScaleMin]="660"
    [yScaleMax]="720"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    style="fill: #2B2B2B"
    >
</ngx-charts-line-chart>

  </div>
</div>
<div class="container calculate pb-5">
    <h1 class="text-center m-0">{{'A1' | translate}}<span style="color: #146EB4;">Amazon</span> {{'A2' | translate}}</h1>
    <h3 class="text-center m-0">{{'A3' | translate}} <span style="color: #146EB4;">Amazon</span> {{'A4' | translate}} <span style="color: #146EB4;">200%</span> </h3>
    <h2 class="pt-4 text-center m-0">{{'A5' | translate}} </h2>
    <h2 class="pt-4 text-center m-0">{{'A6' | translate}}</h2>
    <div class="icon-btn radius-style d-flex justify-content-center pt-4">
      <button (click)="openRegister()" class="btn-twitter m-0">
        <span class="btn-gradient radius-btn">
          <mat-icon>person_add_alt</mat-icon>
          <i class="fa fa-user-plus"></i>        
        </span>
        <span class="btn-text">{{'registerNow' | translate}}</span>
      </button>
    </div>
    <p class="pt-5">
      {{'A7' | translate}}
    </p>
    <p>
      {{'A8' | translate}} 
    </p>
    <p>
      {{'A9' | translate}}
    </p>
    <p>
      {{'A10' | translate}} <span style="color: #146EB4;">BONUS !</span>
    </p>
    <!-- <div class="input">
        <mat-form-field class="potentialWin" appearance="fill">
            <div class="d-flex align-items-center"><input matInput type="number" (ngModelChange)="calculate(value)" [(ngModel)]="value"><span style="font-size: 18px;" class="pl-1"> €</span></div>
        </mat-form-field>
    </div> -->
    <!-- <h3 class="pt-1 text-center m-0">You can earn <span style="color:  #146EB4;">{{winValue}} €</span> by the end of the month</h3> -->
</div>