<div class="container chartDiv align-items-center">
    <h1 class="header m-0">
        <span style="color: #e08e14;">Gold</span> stock price last month
    </h1>
  <div style="height: 40vh;" *ngIf="!isMobile" class="row">
    <ngx-charts-line-chart
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [showGridLines]="false"
    [timeline]="timeline"
    [results]="multi"
    [yScaleMin]="650"
    [yScaleMax]="730"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-line-chart>
  </div>
  <div style="height: 30vh;" *ngIf="isMobile" class="row">
    <ngx-charts-line-chart *ngIf="isMobile"
    [scheme]="colorScheme"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [showGridLines]="false"
    [timeline]="timeline"
    [results]="multi"
    [yScaleMin]="650"
    [yScaleMax]="720"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    style="fill: #2B2B2B"
    >
</ngx-charts-line-chart>

  </div>
</div>
<div class="container calculate">
    <h1 class="text-center m-0">In the last month Gold was raised by <span style="color: #e08e14;">3.453%</span></h1>
    <h3 class="text-center m-0">If you had invested <span style="color: #e08e14;">200€</span> by the start of the month, you could have earned <span style="color: #e08e14;">34.56€</span> by now!</h3>
    <h2 class="pt-4 text-center m-0">If you invest now!</h2>
    <div class="input">
        <mat-form-field class="potentialWin" appearance="fill">
            <div class="d-flex align-items-center"><input matInput type="number" (ngModelChange)="calculate(value)" [(ngModel)]="value"><span style="font-size: 18px;" class="pl-1"> €</span></div>
        </mat-form-field>
    </div>
    <h3 class="pt-1 text-center m-0">You can earn <span style="color: #e08e14;">{{winValue}} €</span> by the end of the month</h3>
</div>