* {
    color: white;
}
.chartDiv {
    padding-top: 60px!important;
    .header {
        padding-bottom: 30px;
        text-align: center;
        font-family: 'ProzaSemi';
        font-size: 26px;
    }
}
.calculate {
    h1, h2, h3, h4 {
        line-height: 35px;
    }
    h1 {
        font-size: 20px;
    }
    .registration {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: brown;
    }
}
.input {
    text-align: center;
    .potentialWin {
        width: 100px;
        input {
            background-color: #ffffff57!important;
            color: black!important;
            height: 30px;
            text-align: center;
            font-weight: bold;
            border-radius: 5px;
        }
    }
}

::ng-deep input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

::ng-deep.ngx-charts text { fill: #fff!important; }

@media screen and (max-width: 425px) {
    // .chartDiv {
    //     .header {
    //         padding-bottom: 15px;
    //     }
    // }
}