<div class="container chartDiv align-items-center">
    <h1 class="header m-0">
      {{'1' | translate}}<span style="color: brown;">Tesla, Inc.</span>{{'2' | translate}}
    </h1>
  <div style="height: 40vh;" *ngIf="!isMobile" class="row">
    <ngx-charts-line-chart
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="'10' | translate"
    [yAxisLabel]="'11' | translate"
    [showGridLines]="false"
    [timeline]="timeline"
    [results]="multi"
    [yScaleMin]="650"
    [yScaleMax]="730"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-line-chart>
  </div>
  <div style="height: 30vh;" *ngIf="isMobile" class="row">
    <ngx-charts-line-chart *ngIf="isMobile"
    [scheme]="colorScheme"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [showGridLines]="false"
    [timeline]="timeline"
    [results]="multi"
    [yScaleMin]="660"
    [yScaleMax]="720"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    style="fill: #2B2B2B"
    >
</ngx-charts-line-chart>

  </div>
</div>
<div class="container calculate">
 
<!-- Κάνε την πρώτη σου εγγραφή δωρεάν 
Μάθε για το online trading και κάνε τα πρώτα σου βήματα στην παγκόσμια αγορά . -->
<!-- 
H τιμή είναι αυτό που πληρώνεις
H αξία είναι αυτό που παίρνεις -->
    <h1 class="text-center m-0">{{"3" | translate}}</h1>
    <h3 class="text-center m-0">{{"4" | translate}}<span style="color: brown;"> 67%</span>{{"5" | translate}}<span style="color: brown;"> 35%</span></h3>
    <h2 class="pt-4 registration text-center m-0" (click)="openRegister()">{{"6" | translate}}</h2>
    <h3 class="pt-4 text-center m-0">{{"7" | translate}}</h3>
    <!-- <div class="input">
        <mat-form-field class="potentialWin" appearance="fill">
            <div class="d-flex align-items-center"><input matInput type="number" (ngModelChange)="calculate(value)" [(ngModel)]="value"><span style="font-size: 18px;" class="pl-1"> €</span></div>
        </mat-form-field>
    </div> -->
    <!-- <h3 class="pt-1 text-center m-0">You can earn <span style="color: brown;">{{winValue}} €</span> by the end of the month</h3> -->
    <h2 class="text-center m-0 pt-3" style="color: brown;">{{"8" | translate}}</h2>
    <h2 class="text-center m-0 pt-3" style="color: brown; font-weight: bold;">{{"9" | translate}}</h2>
</div>